/* importing fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface:400');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,200;1,400;1,500&display=swap');

/* The CSS grid-container was set up by following Rob's week 9 tutorial: https://www.youtube.com/watch?v=oqgxpT5hA7Q&ab_channel=DesigningwithAILab*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 800px 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "main main main"
      "main main main";
  }

/*Styling for background color of the header*/
.header { grid-area: header; 
    background-color: #08A0E9;
}
  
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "vis1 vis1"
      "vis2 vis2";
    grid-area: main;
}

/*Styling for background color of the first visualisation*/
.vis1 { 
  grid-area: vis1; 
  background-color: #08A0E9;
}

/*Styling for background color of the second visualisation*/
.vis2 { 
  grid-area: vis2;
  background-color: #3A4856; 
}

/*Typography template was archieved from typescale.com, followed by my own customisation to each element*/
html {font-size: 100%;} /*16px*/

/*Styling for the body*/
body {
  background: white;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

/*Styling for the paragraph*/
p {
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}

/*Styling for the paragraph text which highlight as strong*/
strong {
  font-size: 2.3rem;
}

/*Styling for the image used*/
img {
  height:100%;
  filter: grayscale(100%);
}

/*Styling for the first header*/
h1 {
  margin-top: 0;
  font-size: 4.52rem;
  margin: auto;
  text-align: right;
  position: absolute;
  top: 30px;
  right: 100px;
  color: white;
}

/*Styling for the introduction part under the first header*/
h2 {
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 25%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  position: absolute;
  right: 100px;
  top: 300px;
  color: white;
}

/*Styling for the second header*/
h3 {
  font-size: 3.553rem;
  margin: auto;
  padding: 30px;
  text-align: center;
  color: white;
}

/*Styling for the quotes*/
h4 {
  font-size: 1.563rem;
  font-family: 'Spectral', serif;
  font-weight: 550;
  width: 70%;
  margin: auto;
  padding: 80px;
  text-align: center;
  color: white;
}

/*Styling for the reference*/
h5 {
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  width: 60%;
  margin: auto;
  padding: 50px;
  text-align: justify;
  text-justify: inter-word;
  background-color: #6A95BB; 
}

/*Styling for the horizontal line*/
hr {
  width:50%;
  top: 20px;
  border: none;
  height: 6px;
  background: black;
  margin-bottom: 50px;
}
