.grid-container {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 300px 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "nav main aside"
      "nav main aside";
  }
  
  .header { grid-area: header; }
  
  .nav { grid-area: nav; }
  
  .aside { grid-area: aside; }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "vis1 vis1"
      "vis2 vis2";
    grid-area: main;
  }
  
  .vis1 { grid-area: vis1; }
  
  .vis2 { grid-area: vis2; }
  